@font-face {
      src: url('fonts/Amstelvar-Italic[GRAD\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,wdth\,wght\,opsz].woff2') format(".woff2"),
      src: url('fonts/Amstelvar-Italic[GRAD\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,wdth\,wght\,opsz].ttf') format(".ttf"),

      src: url('fonts/Amstelvar-Roman[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,wdth\,wght\,opsz].ttf') format(".ttf"),
      src: url('fonts/Amstelvar-Roman[GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,wdth\,wght\,opsz].woff2') format(".woff2");
  
}
    /* font-family: 'amstelvar';
    font-style: normal;
    font-weight: normal; */
    
    
    body{
         background-color:#470000;
        font-family: 'Amstelvar';
}
    .hero{
         background-image: url("assets/redvelvet-new2.jpg");
         background-size: contain;
         font-family: 'Amstelvar';
         height: 250px;
}

/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}

.logo {
    font-style: italic;
    font-variation-settings: "wght" 772, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 562, "XOPQ" 54, "YOPQ" 54, "YTLC" 500, "YTUC" 750, "YTAS" 767, "YTDE" -240, "YTFI" 760;
}
.download-button {
    align: center;
    margin-top: 100px;
    background-color: rgb(255, 192, 192); 
    border: none; 
    color: rgb(85, 12, 12); 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-variation-settings: "wght" 772, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 562, "XOPQ" 54, "YOPQ" 54, "YTLC" 500, "YTUC" 750, "YTAS" 767, "YTDE" -240, "YTFI" 760;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 20%;
}

.history-box {
    border-radius: 50px 1px;
    margin-top: 100px;
    background: #712B2B;
     padding: 30px;
     width: relative;
     height: relative;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
grid-gap: 25px;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
}

.logo {
    font-style: italic;
    font-variation-settings: "wght" 772, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 562, "XOPQ" 54, "YOPQ" 54, "YTLC" 500, "YTUC" 750, "YTAS" 767, "YTDE" -240, "YTFI" 760;
}

.flex-center {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Full height */
  }

  .download-button {
    align: center;
    margin-top: 100px;
    background-color: rgb(255, 192, 192); 
    border: none; 
    color: rgb(85, 12, 12); 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-variation-settings: "wght" 772, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 562, "XOPQ" 54, "YOPQ" 54, "YTLC" 500, "YTUC" 750, "YTAS" 767, "YTDE" -240, "YTFI" 760;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 20%;
}

.alphabet-box {
    border-radius: 50px 1px;
    margin-top: 100px;
    background: #712B2B;
     padding: 30px;
     width: relative;
     height: relative;
}

.axises{
grid-area: v;
}

.alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer{
    background: linear-gradient(to bottom, #a02727 0%, #470000 100%);
    height: 50px;
}

/* variable font animation */
h3{
    font-weight:20; 
    color: white;
    text-align: center;
    font-size: 5em;
    padding-top: 100px;
    animation: weightChange 7s infinite;
}
h1 {
    color: white;
    align: center;
}
p {
    color: white;
}
@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wght" 100, "wdth" 50, "opsz" 14, "GRAD" 0, "XTRA" 562, "XOPQ" 176, "YOPQ" 54, "YTLC" 420, "YTUC" 750, "YTAS" 540, "YTDE" -500, "YTFI" 760;
    }
    50%{font-variation-settings: "wght" 1000, "wdth" 125, "opsz" 14, "GRAD" 0, "XTRA" 562, "XOPQ" 176, "YOPQ" 124, "YTLC" 500, "YTUC" 750, "YTAS" 767, "YTDE" -240, "YTFI" 760;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}
